/*
 * Standard colours:
 * =================
 *
 * Pale orange: #FEC
 * Pastel orange: #FC5
 *
 * Pale yellow: #FFD
 * Burnt yellow: #FEA
 * Brown: #EC4
 *
 * Pale red: #FBA
 * Pastel red: #F85
 *
 * Light blue: #4AC
 * Dark teal: #157
 *
 * Pastel blue: #DEF
 * Mid-pastel blue: #ACD
 *
 */

body {
    background-color: #FFD;
    color: #000;
    font-family: sans-serif;
    font-size: 85%;
    overflow: hidden;
}

html {
    background-color: #FEA;
}

a {
    color: #157;
}

a:hover {
    color: #4AC;
}

li {
    font-size: inherit;
    font-style: normal;
}

h1 {
    font-size: 167%;
    font-weight: bold;
}

.logo {
    border-color: #ACD;
    border-width: 1px 1px 4px 1px;
    border-style: solid;
    background-color: #DEF;
    color: #157;
    padding: 0.5em 0.5em 0.5em 1em;
    width: 10em;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

#sign {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.5em;
    border: 1px solid #ACD;
    border-bottom-width: 4px;
    background-color: #DEF;
}

h2 {
    font-size: 138.5%;
    font-weight: bold;
}

h3 {
    font-size: 123.1%;
    font-weight: bold;
    font-style: italic;
}

input[type="text"], input[type="password"] {
    border: 2px solid #FC5;
    height: 1.5em;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.current_user {
    font-weight: bold;
}

#static_wrapper {
    padding: 1em 3em;
}

#static_wrapper p {
    margin-bottom: 0.8em;
}

#static_wrapper ul {
    margin: 0.75em 1em;
}

#static_wrapper ul li {
    list-style: disc outside;
    margin-left: 1em;
    margin-bottom: 0.5em
}

#static_wrapper .signtextbox {
    width: 20em;
    font-size: 100%;
    padding: 0.25em;
}

#folder_list {
    margin: 0 0.5em;
}

.loading_msg {
    border-color: #ACD;
    border-style: solid;
    border-width: 1px 1px 4px 1px;
    padding: 0.5em 30px;
    font-weight: bold;
    background: url("/images/loading_blue.gif") 8px no-repeat #DEF;
    margin-bottom: 1em;
}

.folder_name {
    display: block;
    background: url('/images/icon_contract.gif') left no-repeat;
    padding-left: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.25em;

    cursor: pointer;
    font-size: 108%;
}

.folder_contracted {
    background-image: url('/images/icon_expand.gif');
}

.thread_list {
    margin-left: 1em;
}

.thread_list_item {
    padding-bottom: 0.25em;
    padding-left: 24px;
    margin-bottom: 0px;
    background: url('/images/icon_nonewposts.png') 4px no-repeat;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: #FEC;
}

.thread_list_item:hover {
    background-color: #EEE;
    border-color: #CCC;
    cursor: pointer;
}

.thread_list_item a:hover {
    color: #157;
}

.current_thread {
    background-color: #DEF;
    border-color: #ACD;
}

.pinned_thread {
    list-style-image: url('/images/icon_pin.png');
}

#header, #footer {
    width: 100%;
    clear: both;
    background-color: #FEA;
}

#header {
    padding: 1em;
    border-bottom: 4px solid #EC4;
    margin-bottom: 0.5em;
}

#footer {
    /*position: absolute;
    bottom: 0;*/
    border-top: 4px solid #EC4;
    padding: 1em;
}

#threadspane, #postspane {
    margin-bottom: 0.5em;
}

#threadspane {
    float: left;
    width: 30%;
    padding: 0.5em;

    border-width: 1px 4px 1px 1px;
    border-color: #FC5;
    border-style: solid;

    background-color: #FEC;
}

#postspane {
    float: right;
    width: 67%;
    padding-right: 0.5%;
    overflow: auto;
}

#thread_title {
    margin-bottom: 0.5em;
}

.posts_container {
    overflow: auto;
}

.post {
    border-color: #FC5;
    border-style: solid;
    border-width: 1px 1px 4px 1px;

    background-color: #FEC;
    padding: 0.5em;
    margin-bottom: 0.5em;

    list-style: none;
}

.post_head {
    text-align: center;
}

.post_head_fromto, .post_head_info {
    position: relative;
    margin-bottom: 0.5em;
}

.post_head_fromto, .post_foot_replylinks {
    float: left;
}

.post_head_info, .post_foot_editlinks {
    float: right;
    text-align: right;
}

.post_foot {
    height: 1.5em;
}

.post_body, .post_sig {
    clear: both;
    padding: 0.5em 0.75em;
    background-color: #FFF;
    border-color: #FC5;
    border-width: 1px;
    border-style: solid;

    overflow-x: auto;
    overflow-y: hidden;
}

.post_sig {
    border-top-width: 0;
/*    margin-bottom: 0.5em;*/
}

.post_body p, .post_body pre {
    margin-bottom: 0.5em;
}

.post_body pre {
    border: 1px solid #CCC;
    background-color: #EEE;
    padding: 0.5em;
}

.post_body code {
    background-color: #EEE;
}

.post_body blockquote {
    margin: 0.5em 1em;
    padding: 0.5em;
    border: 1px solid #FEA;
    background-color: #FFE;
}

.post_body em {
    font-style: italic;
}

.post_body strong {
    font-weight: bold;
}

.post_body ul, .post_body ol {
    margin: 0.5em 1em;
}

.post_body ul {
    list-style: disc outside;
}

.post_body ol {
    list-style: decimal outside;
}

.post_body li {
    margin-left: 1em;
    list-style: inherit;
}

.post_preview {
    margin-top: 0.5em;
    background-color: #DEF;
    border-color: #ACD;
}

#sigeditor .post_preview {
    width: 65%;
}

.post_preview .post_body, .post_preview .post_sig {
    border-color: #CCC;
}

.sig_body_preview {
    color: #CCC;
}

#replybox {
    margin: 0.5em 0 1em 0;
    clear: both;
}

#replybox_thread_title {
    margin-bottom: 0.5em;
}

#replybox_thread_title h2 {
    display: inline;
    margin-right: 0.5em;
}

#replybox_thread_title input {
    width: 50%;
}

#sigeditor textarea, #replybox textarea {
    padding: 0.5em;
    border: 2px solid #FC5;
    margin: 0.5em 0;
}

#sigeditor textarea {
    width: 64.9%;
}

#replybox textarea {
    width: 95%; /*30em;*/
    height: 18em;
    vertical-align: top;
}

.post_too_long, .field_with_errors {
    color: #F00;
    font-weight: bold;
}

.hidden {
    display: none;
}

.ui-selectmenu {
    display: inline-block;
}

#btnNewThread {
    margin-bottom: 0.5em;
}
