/*
 * Standard colours:
 * =================
 *
 * Pale orange: #FEC
 * Pastel orange: #FC5
 *
 * Pale yellow: #FFD
 * Burnt yellow: #FEA
 * Brown: #EC4
 *
 * Pale red: #FBA
 * Pastel red: #F85
 *
 * Pastel blue: #4AC
 * Dark teal: #157
 *
 */

body {
    background-color: #FFD;
    color: #000;
    font-family: sans-serif;
    font-size: 85%;
}

a {
    color: #157;
}

a:hover {
    color: #4AC;
}

li {
    font-size: inherit;
    font-style: normal;
}

h1 {
    font-size: 167%;
    font-weight: bold;
}

h2 {
    font-size: 138.5%;
    font-weight: bold;
}

#folder_list {
    margin: 0 0.5em;
}

.folder_name {
    display: block;
    background: url('/images/icon_contract.gif') left no-repeat;
    padding-left: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.25em;

    cursor: pointer;
    font-size: 108%;
}

.folder_contracted {
    background-image: url('/images/icon_expand.gif');
}

.thread_list {
    margin-left: 2em;
}

.thread_title {
    margin-bottom: 0px;
    list-style: url('/images/icon_nonewposts.png') outside;
}

.pinned_thread {
    list-style-image: url('/images/icon_pin.png');
}

#header, #footer {
    width: 100%;
    clear: both;
    background-color: #FEA;
}

#header {
    height: 5em;
    border-bottom: 4px solid #EC4;
    margin-bottom: 0.5em;
}

#footer {
    border-top: 4px solid #EC4;
    height: 2em;
}

#threadspane, #postspane {
    position: relative;
    height: 600px;
    margin-bottom: 0.5em;
}

#threadspane {
    float: left;
    width: 30%;
    left: 0.5%;
    margin-right: 0.5%;

    border-width: 1px 4px 1px 1px;
    border-color: #FC5;
    border-style: solid;

    background-color: #FEC;
}

#postspane {
    float: right;
    width: 68%;
    padding-right: 0.5%;
    overflow: auto;
}

.post {
    border-color: #FC5;
    border-style: solid;
    border-width: 1px 1px 4px 1px;

    background-color: #FEC;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.post_head_fromto, .post_head_info {
    position: relative;
    margin-bottom: 0.5em;
}

.post_head_fromto {
    float: left;
}

.post_head_info {
    float: right;
    text-align: right;
}

.post_body, .post_sig {
    clear: both;
    padding: 0.5em 0.75em;
    background-color: #FFF;
    border-color: #FC5;
    border-width: 1px;
    border-style: solid;
}

.post_body {
    border-bottom-color: #CCC;
    overflow: auto;
}

.post_sig {
    border-top-width: 0;
    margin-bottom: 0.5em;
}

.post_body p {
    margin-bottom: 0.5em;
}

.post_body blockquote {
    margin: 0.5em 1em;
    padding: 0.5em;
    border: 1px solid #FEA;
    background-color: #FFE;
}

.post_body em {
    font-style: italic;
}

.post_body strong {
    font-weight: bold;
}
