/*
 * There are 3 main colours: the header/footer, the threads and posts, and the
 * 'accent' colour, used for things like the logo, signin links and loading
 * message.
 *
 * #FFD - pale yellow (page bg)
 * #EC4 - mid yellow (header/footer bg)
 * #FEA - dark yellow
 *
 * #FEC - pale orange (threads/posts bg)
 * #FC5 - mid orange
 * #D86 - red-orange (post counts etc.)
 *
 * #DEF - pale blue (accent colour bg)
 * #ACD - mid pastel blue
 * #157 - dark blue (links)
 * #4AC - mid blue-green (link mouseover)
 */

/* This is the colour of the header and footer. */
.clr1 {
    background-color: #FEA;
    border-color: #EC4;
    color: #000;
}

/* This is the colour of the threads pane and individual posts. */
.clr2, .folder_list_item, input[type="text"], input[type="password"], textarea {
    border-color: #FC5;
}
.clr2 {
    background-color: #FEC;
}

/* Items in thread lists that are not the current thread and don't have the
 * mouse cursor over them still have a border, but it's the same colour as the
 * background. This is to prevent the layout jumping around if we just add a
 * border to something in the list.
 *
 * NOTE: this needs to come before .current_thread in order for that rule to
 * take precedence when setting border colour.
 */
.thread_list_item {
    border-color: #FEC;
    background-image: url('/images/icon_nonewposts.png');
}
.has_unread {
    background-image: url("/images/icon_newposts.png");
}
.pinned {
    background-image: url("/images/icon_newposts_pinned.png");
}
.has_unread.pinned {
    background-image: url("/images/icon_nonewposts_pinned.png");
}

/* This is the accent colour. Static page elements can have the "clr3" class
 * added to them, but for dynamic elements it's easier to just include their
 * class specifically in the selector here.
 */
.clr3, .loading_msg, .current_thread, .post_preview {
    background-color: #DEF;
    border-color: #ACD;
}

.loading_msg {
    background-image: url("/images/loading_blue.gif");
}

.btn-icon-reload {
    background-image: url("/images/ui-icon-reload.png") !important;
    background-position: right bottom;
}

.posts_nav .ui-icon {
    background-position: right 60%;
}

#btnFirstPosts, #btnLastPosts {
    width: 10em;
}

#btnPrevPosts, #btnNextPosts {
    width: 15em;
}

.btn-icon-firstposts { background-image: url("/images/ui-icon-first_posts.png") !important;
}

.btn-icon-prevposts { background-image: url("/images/ui-icon-prev_posts.png") !important;
}

.btn-icon-nextposts { background-image: url("/images/ui-icon-next_posts.png") !important;
}

.btn-icon-lastposts { background-image: url("/images/ui-icon-last_posts.png") !important;
}

.folder_name {
    background-image: url('/images/icon_contract.gif');
}

.folder_contracted {
    background-image: url('/images/icon_expand.gif');
}

.folder_settings {
    background-image: url("/images/icon_settings_1.png");
}

.folder_settings:hover {
    background-image: url("/images/icon_settings_2.png");
}

/* Common grey border colour */
.thread_list_item:hover, .post_body, .post_sig, pre {
    border-color: #CCC;
}

/* Inline <code> elements look better with a slightly lighter border */
code {
    border-color: #DDD;
}

.thread_list_item:hover, pre, code {
    background-color: #EEE;
}

/* This is needed to prevent each line of code being clipped by the one below
 * it if the line-height property is too low. */
pre code {
    background: none;
}

.item_count {
    color: #D86; /* Similar to .clr2 border colour, but a bit darker */
}

.post_body, .post_sig {
    background-color: #FFF;
}

/* Colour of the dummy text shown when a user is editing their sig */
del, .sig_body_preview {
    color: #AAA;
}

/* Shown when the wrong password is entered on signup (and similar
 * errors), and when the a post is longer than the max length (9001 by
 * default). */
.field_with_errors {
    color: #F00;
}

/* Element styles
 * ============== */

body, blockquote {
    border-color: #FEA; /* same as .clr1 background-color */
}

body, html {
    background-color: #FFD;
}

blockquote {
    background-color: #FFE;
}

a, .thread_list_item a:hover {
    color: #157;
}

a:hover {
    color: #4AC;
}
