/*
 * There are 3 main colours: the header/footer, the threads and posts, and the
 * 'accent' colour, used for things like the logo, signin links and loading
 * message.
 */


/* This is the colour of the header and footer. */
.clr1 {
    background-color: $bg1;
    border-color: $bo1;
    color: #333;
}

/* This is the colour of the threads pane and individual posts. */
.clr2, .folder_list_item, input[type="text"], input[type="password"], textarea {
    border-color: $bo2;
}
.clr2 {
    background-color: $bg2;
}

/* Items in thread lists that are not the current thread and don't have the
 * mouse cursor over them still have a border, but it's the same colour as the
 * background. This is to prevent the layout jumping around if we just add a
 * border to something in the list.
 *
 * NOTE: this needs to come before .current_thread in order for that rule to
 * take precedence when setting border colour.
 */
.thread_list_item {
    border-color: $bg2;
    background-image: inline-image('/icon_nonewposts.png');
}
.has_unread {
    background-image: inline-image("/icon_newposts.png");
}
.pinned {
    background-image: inline-image("/icon_newposts_pinned.png");
}
.has_unread.pinned {
    background-image: inline-image("/icon_nonewposts_pinned.png");
}

/* This is the accent colour. Static page elements can have the "clr3" class
 * added to them, but for dynamic elements it's easier to just include their
 * class specifically in the selector here.
 */
.clr3, .loading_msg, .current_thread, .post_preview {
    background-color: $accentBg;
    border-color: $accentBo;
}

.loading_msg {
    background-image: inline-image("/loading_blue.gif");
}

.btn-icon-reload {
    background-image: inline-image("/ui-icon-reload.png") !important;
    background-position: right bottom;
}

.posts_nav .ui-icon {
    background-position: right 60%;
}

#btnFirstPosts, #btnLastPosts {
    width: 10em;
}

#btnPrevPosts, #btnNextPosts {
    width: 15em;
}

.btn-icon-firstposts { background-image: inline-image("/ui-icon-first_posts.png") !important;
}

.btn-icon-prevposts { background-image: inline-image("/ui-icon-prev_posts.png") !important;
}

.btn-icon-nextposts { background-image: inline-image("/ui-icon-next_posts.png") !important;
}

.btn-icon-lastposts { background-image: inline-image("/ui-icon-last_posts.png") !important;
}

.folder_name {
    background-image: inline-image('/icon_contract.png');
    border-color: $bg2 * 0.9;
}

.folder_name:hover {
    background-color: $folderHover;
}

.folder_contracted {
    background-image: inline-image('/icon_expand.png');
}

.folder_settings {
    background-image: inline-image("/icon_settings_1.png");
}

.folder_settings:hover {
    background-image: inline-image("/icon_settings_2.png");
}

/* Common grey border colour */
.post_body, .post_sig, pre {
    border-color: #CCC;
}

.thread_list_item:hover {
    background-color: #F8F8F8;
    border-color: $linkHover;
}

.thread_list_item:hover a {
    color: $linkHover;
}

/* Inline <code> elements look better with a slightly lighter border */
code {
    border-color: #DDD;
}

pre, code {
    background-color: #EEE;
}

/* This is needed to prevent each line of code being clipped by the one below
 * it if the line-height property is too low. */
pre code {
    background: none;
}

.item_count {
    color: $itemCount; /* Similar to .clr2 border colour, but a bit darker */
}

#threadspane {
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-width: 1px;
}

.post {
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-width: 1px;
}

.post_body, .post_sig {
    background-color: #FFF;
}

/* Colour of the dummy text shown when a user is editing their sig */
del, .sig_body_preview {
    color: #AAA;
}

/* Shown when the wrong password is entered on signup (and similar
 * errors), and when the a post is longer than the max length (9001 by
 * default). */
.field_with_errors {
    color: #F00;
}

/* Element styles
 * ============== */

body, html {
    background-color: $bodyBg;
}

blockquote {
    background-color: $quoteBg;
    border-color: $quoteBo; /* same as .clr1 background-color */
}

.post p {
    color: #333;
}

a {
    color: $linkColor;
}

a:hover {
    color: $linkHover;
}

hr {
    border-color: #CCC #F8F8F8;
}

//blockquote hr {
    //border-color: #EC4 #FEA;
//}
