
/* Common border styles: */
div, p, h1, h2, h3, blockquote, code, pre, hr, input, textarea, ul, li, a {
    /* Everything has a solid border style, but most elements have a
     * border-width of 0.
     * Doing this allows us to simply specify border widths in this file, since
     * colours are specified in colours.css. */
    border-style: solid;
    border-width: 0;
}

.bb {
    border-width: 1px 1px 4px 1px;
}

.br {
    border-width: 1px 4px 1px 1px;
}

.bl {
    border-width: 1px 1px 1px 4px;
}

body {
    font-size: 79%;
    word-spacing: 0.1em;
    padding: 5.5em 0.5em 3.7em 0.5em;
}

body, textarea, input, .ui-widget {
    font-family: "Lucida Grande", "Tahoma", sans-serif;
}

p, blockquote, li, fieldset {
    line-height: 1.5em;
}

li {
    font-size: inherit;
    font-style: normal;
}

h1, h2, h4 {
    font-weight: bold;
}

h1 {
    font-size: 167%;
}

h2 {
    font-size: 138.5%;
}

h3 {
    font-size: 123.1%;
    font-weight: bold;
    font-style: italic;
}

h1, h2, h3, form {
    margin-bottom: 0.5em;
}

fieldset {
    margin-top: 0.5em;
}

code {
    font-family: 'Consolas', 'Inconsolata', 'Menlo', 'Lucida Sans Console',  monospace;
    font-size: 85%;
    border-width: 1px;
}

hr {
    border-width: 1px 2em 0px 2em;
    margin: 0.5em 2em;
}

#logo {
    padding: 0.5em 0.5em 0.5em 1em;
    width: 10em;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 2px 2px 2px #ACD;
}

#sign {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.5em;
}

input[type="text"], input[type="password"], textarea {
    border-width: 2px;
    height: 1.5em;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

#header, #footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 4;
}

#header {
    padding: 1em;
    border-bottom-width: 4px;
    top: 0;
}

#footer {
    border-top-width: 4px;
    padding: 1em;
    bottom: 0;
}

.current_user {
    font-weight: bold;
}

#static_wrapper {
    padding: 1em 3em;
}

#static_wrapper p {
    margin-bottom: 0.8em;
}

#static_wrapper ul {
    margin: 0.75em 1em;
}

#static_wrapper ul li {
    list-style: disc outside;
    margin-left: 1em;
    margin-bottom: 0.5em
}

#static_wrapper .signtextbox {
    width: 20em;
    font-size: 100%;
    padding: 0.25em;
}

#threadspane {
    position: fixed;
    top: 5.5em;
    bottom: 3.7em;
    left: 0.5em;
    width: 24.5em;

    padding: 0.5em;

    overflow: auto;
}

#postspane {
    position: absolute;
    top: 5.5em;
    right: 0.5em;
    bottom: 3.7em;
    left: 27em;
    z-index: 3;

    padding: 5.5em 0 3.7em 0;
    overflow: auto;
}

#folder_list {
    margin: 0 0.5em;
}

.folder_list li {
}

.folder_list_item {
    border-bottom-width: 1px;
    padding-bottom: 0.5em;
}

.loading_msg {
    padding: 0.5em 5em;
    font-weight: bold;
    background-position: 12px;
    background-repeat: no-repeat;
    margin-bottom: 1em;
}

#folders_loading_msg {
    position: fixed;
    top: 6em;
    left: 1em;
    z-index: 3;
}

#thread_loading_msg {
    position: fixed;
    top: 5.5em;
    left: 27em;
    display: none;
}

#UE_loading {
    font-size: 85%;
}

.folder_name {
    display: block;
    position: relative;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.25em;

    cursor: pointer;
    font-size: 108%;
}

.folder_contracted {
    font-weight: bold;
}

.folder_settings {
    display: block;
    position: absolute;
    top: 0.3em;
    right: 0;
    width: 18px;
    height: 18px;
    background-position: 1px 1px;
    background-repeat: no-repeat;

    visibility: hidden;
}

.folder_name:hover .folder_settings {
    visibility: visible;
}

.thread_list {
    margin-left: 1em;
}

.thread_list_item {
    padding: 0.2em 0.5em 0 24px;
    padding-bottom: 0.25em;
    padding-left: 24px;
    background-position: 3px;
    background-repeat: no-repeat;
    line-height: 1.2em;
}

.thread_list_item a {
    text-decoration: none;
}

.has_unread a {
    text-decoration: underline;
}

.has_unread .item_count {
    font-weight: bold;
}

.thread_list_item:hover {
    cursor: pointer;
}

.item_count {
    font-size: 77%;
    margin-left: 1em;
    text-align: right;
}

#threadspane, #postspane {
    margin-bottom: 0.5em;
}

#thread_title {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

#post_buttons_prev, #post_buttons_next {
    margin: 0.5em 0;
    text-align: center;
}

/*#post_buttons_prev {*/
/*    text-align: left;*/
/*}*/

/*#post_buttons_next {*/
/*    text-align: center;*/
/*}*/

.posts_container {
    overflow: auto;
}

.post {
    padding: 0.5em;
    margin-bottom: 0.5em;

    list-style: none;
}

.post_shim {
    margin-top: -5.5em;
    padding-bottom: 5.5em;
    height: 0;
    overflow: hidden;
}

.post_head {
    text-align: center;
}

.post_head_fromto, .post_head_info {
    position: relative;
    margin-bottom: 0.5em;
}

.post_head_fromto, .post_foot_replylinks {
    float: left;
    text-align: left;
}

.post_head_info, .post_foot_editlinks {
    float: right;
    text-align: right;
}

.post_head_index, .post_head_reply_index {
    font-weight: bold;
    cursor: pointer;
}

.post_foot {
    height: 1.5em;
}

.post_body, .post_sig {
    clear: both;
    padding: 0.5em 0.75em;
    border-width: 1px;

    overflow-x: auto;
    overflow-y: hidden;
}

.post_sig {
    border-top-width: 0;
    margin-bottom: 0.5em;
}

.post p, .post_body pre, .post li, #post_length_info {
    margin-bottom: 0.5em;
}

.post del {
    text-decoration: line-through;
}

sarcasm {
    color: #44F;
}

.post pre {
    border-width: 1px;
    padding: 0.5em;
    line-height: 1.3em;
}

pre code {
    border-width: 0px;
}

.post blockquote {
    margin: 0.5em 1em;
    padding: 0.5em;
    border-width: 1px;
}

.post em {
    font-style: italic;
}

.post strong {
    font-weight: bold;
}

.post ul, .post ol {
    margin: 0.5em 1em;
}

.post ul {
    list-style: disc outside;
}

.post ol {
    list-style: decimal outside;
}

.post li {
    margin-left: 1em;
    list-style: inherit;
}

.post_preview {
    margin-top: 0.5em;
}

#sigeditor .post_preview {
    width: 65%;
}

#replybox {
    margin: 0.5em 0 1em 0;
    clear: both;
}

#replybox_thread_title {
    margin-bottom: 0.5em;
}

#replybox_thread_title h2 {
    display: inline;
    margin-right: 0.5em;
}

#replybox_thread_title input {
    width: 50%;
}

#sigeditor textarea, #replybox textarea {
    padding: 0.5em;
    margin: 0.5em 0;
}

#sigeditor textarea {
    width: 64.9%;
}

#replybox textarea {
    width: 95%;
    height: 18em;
    vertical-align: top;
}

.post_too_long, .field_with_errors {
    font-weight: bold;
}

.hidden {
    display: none;
}

.ui-selectmenu {
    /*display: inline-block;*/
}

#btnNewThread {
    margin-bottom: 0.5em;
}

.user_detail {
    font-weight: bold;
}

#tbxFE_Name {
    width: 20em;
    display: block;
}
