/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$bodyBg: #CACAD0;

$accentBg: #DEF;
$accentBo: #369;
$folderHover: $accentBg;

$bg1: #E0E0E0;
$bo1: #808080;

$bg2: #F0F0F0;
$bo2: #888;

$itemCount: $bo2;

$quoteBg: #F3F6FF;
$quoteBo: #C3C6DF;

$linkColor: #157;
$linkHover: #4AC;

@import "compass/reset";
@import "jquery-ui";
@import "jquery-ui-selectmenu";
@import "layout";
@import "colors";
@import "emotes";
