<div id="threadspane">
    <h2>Threads List:</h2>
    <ul id="folder_list">
        <li><a class="folder_name">Folder 1</a>
            <ul class="thread_list">
                <li class="thread_title"><a href="#">Thread 1</a>
                </li>
                <li class="thread_title pinned_thread"><a href="#">Thread 2</a>                 </li>
                <li class="thread_title"><a href="#">Thread 3</a>
                </li>
            </ul>
        </li> <!-- Folder 1 -->

        <li><a class="folder_name">Folder 2</a>
            <ul class="thread_list">
                <li class="thread_title pinned_thread"><a href="#">Thread 4</a>
                </li>
                <li class="thread_title">
                    <a href="#">Thread 5, which unfortunately has a
                    really long title that might cause wrapping
                    issues.</a></li>
                <li class="thread_title"><a href="#">t6</a>
                </li>
            </ul>
        </li> <!-- Folder 2 -->


        <li><a class="folder_name folder_contracted">Folder 3</a></li>
    </ul> <!-- #folder_list -->

</div> <!-- #threadspane -->

<div id="postspane">
    <h2>Thread Title:</h2>

    <div class="post">
        <div class="post_head">
            <div class="post_head_fromto">
                From: <a href="#">UserName1</a><br />
                To: <a href="#">UserName2</a>
            </div>
            <div class="post_head_info">
                Today, 12:34<br />
                1 of 9
            </div>
        </div> <!-- .post_head -->
        <div class="post_body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse est ante, rutrum non tincidunt sed, malesuada ut nulla. Integer congue mattis gravida. Vivamus et erat non massa tincidunt suscipit. Etiam ligula sapien, elementum a ornare sit amet, luctus in arcu. Phasellus venenatis facilisis turpis id tempus. Nulla suscipit risus eget.</p>
            <h1>Heading Within A Post</h1>
            <h2>And a Sub-heading</h2>
            <p>And another paragraph.</p>
        </div> <!-- .post_body -->
        <div class="post_sig">
            UserName1's signature goes here.
        </div> <!-- .post_sig -->

        <div class="post_foot">
            <a href="#" class="post_foot_reply">Reply</a> |
            <a href="#" class="post_foot_quote">Reply + Quote</a>
        </div> <!-- .post_foot -->
    </div> <!-- .post -->

    <div class="post">
        <div class="post_head">
            <div class="post_head_fromto">
                From: <a href="#">UserName2</a><br />
                To: <a href="#">UserName1</a>
            </div>
            <div class="post_head_info">
                Today, 12:38<br />
                2 of 9
            </div>
        </div> <!-- .post_head -->
        <div class="post_body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse est ante, rutrum non tincidunt sed, malesuada ut nulla. Integer congue mattis gravida. Vivamus et erat non massa tincidunt suscipit. Etiam ligula sapien, elementum a ornare sit amet, luctus in arcu. Phasellus venenatis facilisis turpis id tempus. Nulla suscipit risus eget.</p>
            <p>This is a post with an image in it. Innit. <br />
            <img src="/images/foggy_church.jpg" alt=
                "Church in the distance shrouded by fog." /></p>
            <p>(Image from <a href="http://www.flickr.com/photos/caerphoto/">
                my Flickr page</a>.)</p>
        </div> <!-- .post_body -->
        <div class="post_sig">
            UserName2's signature goes here.
        </div> <!-- .post_sig -->

        <div class="post_foot">
            <a href="#" class="post_foot_reply">Reply</a> |
            <a href="#" class="post_foot_quote">Reply + Quote</a>
        </div> <!-- .post_foot -->
    </div> <!-- .post -->

    <div class="post">
        <div class="post_head">
            <div class="post_head_fromto">
                From: <a href="#">UserName2</a><br />
                To: <a href="#">UserName1</a>
            </div>
            <div class="post_head_info">
                Today, 12:38<br />
                3 of 9
            </div>
        </div> <!-- .post_head -->
        <div class="post_body">
            <p>Formatting of &lt;blockquote&gt;:
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse est ante, rutrum non tincidunt sed, malesuada ut nulla. Integer congue mattis gravida. Vivamus et erat non massa tincidunt suscipit. Etiam ligula sapien, elementum a ornare sit amet, luctus in arcu. Phasellus venenatis facilisis turpis id tempus. Nulla suscipit risus eget.</blockquote>
            <p>Proin non nisl tortor, id ultricies leo. Cras scelerisque aliquam justo, in rutrum erat ultricies id. Etiam at nisi id ante sodales tincidunt. Nunc eu ligula et orci egestas faucibus. Mauris a massa nec arcu volutpat volutpat. Sed rutrum laoreet porta. Curabitur fermentum semper justo, a dictum dui vulputate quis.</p>
            <p>Integer nec turpis posuere sapien ornare blandit. Sed eget <em>libero id nibh eleifend scelerisque.</em> Duis ac neque bibendum nunc lobortis vestibulum ac sed sapien. Vestibulum in urna risus, in tempor nulla. In sollicitudin sem id tortor volutpat placerat. <strong>Sed pharetra placerat sem, sed commodo velit sagittis quis.</strong> Mauris nec nulla bibendum velit viverra pharetra. Vivamus non sem et tellus cursus congue. Etiam pulvinar suscipit nibh, vitae scelerisque velit ultrices quis. Nulla sodales placerat erat vitae dignissim.</p>
        </div> <!-- .post_body -->
        <div class="post_sig">
            UserName2's signature goes here.
        </div> <!-- .post_sig -->

        <div class="post_foot">
            <a href="#" class="post_foot_reply">Reply</a> |
            <a href="#" class="post_foot_quote">Reply + Quote</a>
        </div> <!-- .post_foot -->
    </div> <!-- .post -->

    <div class="post">
        <div class="post_head">
            <div class="post_head_fromto">
                From: <a href="#">UserName3</a><br />
                To: (all)
            </div>
            <div class="post_head_info">
                Today, 21:18<br />
                4 of 9
            </div>
        </div> <!-- .post_head -->
        <div class="post_body">
            <p>Post with a long unbroken line</p>
            <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
        </div> <!-- .post_body -->
        <div class="post_sig">
            UserName3's signature goes here.
        </div> <!-- .post_sig -->

        <div class="post_foot">
            <a href="#" class="post_foot_reply">Reply</a> |
            <a href="#" class="post_foot_quote">Reply + Quote</a>
        </div> <!-- .post_foot -->
    </div> <!-- .post -->
</div> <!-- #posts -->
