<div id="dlgFolderEditor" title="Folder Details" class="unfouc">
    <p><label for="tbxFE_Name">Folder name: </label>
    <input id="tbxFE_Name" type="text"/></p>
    <form>
        <fieldset>
            <legend>Minimum user rank:</legend>
            <input id="rdoUserRank_2" type="radio" name="clearance" value="2" />
            <label for="rdoUserRank_2">Admins</label><br />

            <input id="rdoUserRank_1" type="radio" name="clearance" value="1" />
            <label for="rdoUserRank_1">Registerd Users</label><br />

            <input id="rdoUserRank_0" type="radio" name="clearance" value="0" />
            <label for="rdoUserRank_0">Everyone</label><br />
        </fieldset>
    </form>
</div>
