<div id="dlgFolderEditor" title="Folder Details" class="unfouc">
    <p><label for="tbxFE_Name">Folder name: </label>
    <input id="tbxFE_Name" type="text"/></p>
    <form>
        <fieldset>
            <legend>Minimum user rank:</legend>
            <input id="rdoClearance_3" type="radio" name="clearance" value="3" />
            <label for="rdoClearance_3">Admins</label><br />

            <input id="rdoClearance_2" type="radio" name="clearance" value="2" />
            <label for="rdoClearance_2">Moderators</label><br />

            <input id="rdoClearance_1" type="radio" name="clearance" value="1" />
            <label for="rdoClearance_1">Registerd Users</label><br />

            <input id="rdoClearance_0" type="radio" name="clearance" value="0" />
            <label for="rdoClearance_0">Everyone</label><br />
        </fieldset>
    </form>
</div>
