<li id="post_template" class="hidden post clr2 bb">
    <div class="post_head">
        <div class="post_head_fromto">
            From: <a class="post_head_from"></a><br />
            To: <a class="post_head_to"></a>
        </div>
        <div class="post_head_info">
            <span class="post_head_date"></span><br />
            <a class="post_head_index"></a> in reply to
            <a class="post_head_reply_index"></a>
        </div>
    </div> <!-- .post_head -->
    <div class="post_body">
    </div> <!-- .post_body -->
    <div class="post_sig">
    </div> <!-- .post_sig -->
    <% if user_signed_in? %>
    <div class="post_foot">
        <div class="post_foot_replylinks">
            <a href="#" class="post_foot_reply">Reply</a> |
            <a href="#" class="post_foot_quote">Reply + Quote</a>
        </div>
        <div class="post_foot_editlinks">
            <a href="#" class="post_foot_edit">Edit</a> |
            <a href="#" class="post_foot_delete">Delete</a>
        </div>
    </div> <!-- .post_foot -->
    <% end %>
</li>
