<div id="dlgUserEditor" title="User Details" class="unfouc">
    <div id="UE_loading" class="loading_msg bb">Loading user details...</div>
    <p>Name: <span id="UE_name" class="user_detail"></span></p>

    <% if user_signed_in? and current_user.rank > 0 %>
    <p>E-mail: <span id="UE_email" class="user_detail"></span></p>
    <% end %>

    <% if user_signed_in? and current_user.rank > 1 %>
    <form>
        <fieldset>
            <legend>Rank:</legend>
            <input id="rdoUserType_2" type="radio" name="user_type" value="2" />
            <label for="rdoUserType_2">Admin</label><br />

            <input id="rdoUserType_1" type="radio" name="user_type" value="1" />
            <label for="rdoUserType_1">Moderator</label><br />

            <input id="rdoUserType_0" type="radio" name="user_type" value="0" />
            <label for="rdoUserType_0">Normal</label><br />
        </fieldset>
    </form>
    <% else %>
    <p>Rank: <span id="UE_rank" class="user_detail"></span></p>
    <% end %>
    <p>Last logged in: <span id="UE_last_login" class="user_detail"></span></p>
</div>
